@font-face {
  font-family: 'Jacquarda Bastarda';
  src: url(../static/fonts/Jacquarda_Bastarda_9/JacquardaBastarda9-Regular.ttf) format('truetype');
}

/* Variables */
:root {
  --background-color: rgb(10, 9, 10);
  --text-color: rgb(218, 218, 218);
  --accent-color: rgb(218, 218, 218);
}

/* Global Styles */
body {
  font-family: monospace;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

/* Navigation */
nav {
  position: fixed;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 16px;
}

#main-nav {
  top: 0;
  background-color: var(--text-color);
  color: var(--background-color);
  justify-content: space-between;
}

#main-nav h1 {
  margin: 0;
  font-family: 'Jacquarda Bastarda';
  font-size: 40px;
}

#main-nav a {
  color: var(--background-color);
  text-decoration: none;
  margin-left: 20px;
}

#print-nav {
  top: 50px;
  background-color: var(--background-color);
  color: var(--text-color);
  justify-content: center;
}

.filter {
  cursor: pointer;
  background-color: var(--background-color);
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  padding: 5px 10px;
  margin-right: 10px;
  font-family: monospace;
}

.filter.active {
  background-color: var(--accent-color);
  color: var(--background-color);
}

#print-items-container {
  margin: 20px;
  margin-top: 120px;
}

/* Print Item Styles */
.print-item {
  display: flex;
  align-items: flex-start;
  margin: 20px;
}

.print-img {
  width: 30%;
  margin-left: 20%;
}

.print-info {
  color: var(--text-color);
  height: auto;
  margin-left: 20px;
  width: calc(30% - 20px);
  box-sizing: border-box;
}

.title-price-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.print-title,
.print-price,
.print-size,
.print-description {
  margin: 0;
  padding: 0;
}

.print-size {
  font-weight: bold;
  margin-bottom: 10px;
}

.print-description {
  text-align: justify;
}

@media (max-width: 700px) {
  .print-item {
    flex-direction: column;
  }

  .print-img {
    width: 100%;
    margin-left: 0;
  }

  .print-info {
    width: 100%;
    margin-left: 0;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  #print-nav {
    justify-content: space-around;
  }
}
